<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2131.3153063389127!2d11.943946912574125!3d57.71110167376252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff3bcaf2710d9%3A0x438092abc7ede5ab!2sEC%20Utbildning!5e0!3m2!1ssv!2sse!4v1685178517076!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

