

<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO SHOP</div>
            <div class="title">Exclusive Chair gold Collection.</div>



            <button class="btn-theme" onclick="location.href='@Url.Action("Index", "UnitEntities")'">SHOP NOW</button>

        </div>
        <div class="content-image">
            <img src="images/placeholders/625x647.jpg" alt="">
        </div>
    </div>
</section>