@{ ViewData["Title"] = User.Identity?.Name; } }

<section class="contact-form">
    <div class="container">
        <div class="title">User profile:</div>
        @ViewData["Title"]
    </div>  
</section>